@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 241, 244, 253;
  --background-gradient: none;
  --btn-text-color: white;
  /* Default background in light theme */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-gradient: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
    /* Gradient for dark theme */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient), rgb(var(--background-rgb));
}

button {
  color: var(--btn-text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}